!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title Tabsa Express
		%link{rel:"stylesheet", href:"/offline/style.css"}
		%meta{name:"description",content:"Realiza tus envios de una forma rapida y segura"}
		%meta{name:"viewport",content:"width=device-width, initial-scale=1"}

	%body
		%p#message.black No cuenta con conexion a internet, solo se mostrara la informacion necesario.
		.container
			%h1 Tabsa Express
			%p
				%strong Direccion: #
			%p 
				%strong Horario:
				8am a 8pm
			%p 
				%strong correo:
				tabsa@gmail.com
			%p 
				%strong Descripcion:
				SOMOS UNA EMPRESA Enfocada en atender al mercado de Familias Migrantes Mexicanas en Estados Unidos de Norteamérica. Por medio del desarrollo de Centros de Servicio Migrantes, los cuales sirven servicios y productos como: Mensajería y Paquetería de México hacia Estados Unidos y Viceversa; Transferencias Electrónicas de Dinero de Estados Unidos hacia México y Resto de Latinoamérica, Venta de Productos de Telefonía, Check Cashing en USA y Muchos más Productos.
			#map
				%img{src:"/offline/map.jpg"}
				%p.black Ubicacion del sitio.
